<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Extend Warranty
 *
 * @author      Extend Magento Team <magento@guidance.com>
 * @category    Extend
 * @package     Warranty
 * @copyright   Copyright (c) 2021 Extend Inc. (https://www.extend.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <warranty>
            <products>
                <batch_size>100</batch_size>
                <enable_cronjob>0</enable_cronjob>
            </products>
            <enableExtend>
                <enableCartOffers>1</enableCartOffers>
                <enableRefunds>1</enableRefunds>
                <logging_enabled>1</logging_enabled>
            </enableExtend>
            <tracking>
                <enabled>1</enabled>
            </tracking>
            <contracts>
                <enabled>1</enabled>
                <cron>
                    <time>00,05,00</time>
                    <frequency>MIN</frequency>
                </cron>
                <batch_size>25</batch_size>
                <storage_period>30</storage_period>
                <auto_refund_enabled>1</auto_refund_enabled>
            </contracts>
            <offers>
                <pdp_enabled>1</pdp_enabled>
                <interstitial_cart_enabled>1</interstitial_cart_enabled>
            </offers>
        </warranty>
        <crontab>
            <default>
                <jobs>
                    <extend_warranty_create_warranty_contract>
                        <schedule>
                            <cron_expr>*/5 * * * *</cron_expr>
                        </schedule>
                    </extend_warranty_create_warranty_contract>
                </jobs>
            </default>
        </crontab>
    </default>
</config>
