<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Extend Warranty
 *
 * @author      Extend Magento Team <magento@guidance.com>
 * @category    Extend
 * @package     Warranty
 * @copyright   Copyright (c) 2021 Extend Inc. (https://www.extend.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <!-- <event name="sales_order_invoice_pay">
        <observer name="extend_warranty_create_warranty_contract_observer" instance="Extend\Warranty\Observer\CreateContract"/>
    </event> -->
    <event name="sales_order_creditmemo_refund">
        <observer name="extend_warranty_request_refund_observer" instance="Extend\Warranty\Observer\RequestRefundObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="extend_warranty_create_lead_observer" instance="Extend\Warranty\Observer\CreateLead"/>
    </event>
    <event name="sales_order_invoice_save_commit_after">
        <observer name="extend_warranty_collect_purchased_warranties_observer" instance="Extend\Warranty\Observer\CollectPurchasedWarrantiesObserver"/>
    </event>
</config>
